ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float:left;
  }

  .right {
    float: right;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

.job {
  display:block;
  margin:auto;
  background-color:#eeeeee;
  min-width:1000px;
  height:auto;
}

.wide {
  width:200px;

}


.form-submit-button {
  background: #1a9b00;
  color: white;
  border-style: outset;
  border-color: #1a9b00;
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
}